/* npx tailwindcss -i ./src/tailwindcss/tailwindcss.css -o ./src/tailwindcss/output.css --watch */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  * {
    @apply font-Space-Grotesk;
  }
  section {
    @apply pt-10 lg:px-32 pb-20 border-b;
  }
  section:last-of-type {
    @apply border-none;
  }
  h2 {
    @apply font-bold uppercase text-3xl text-center;
  }
  body,
  main {
    overflow-x: hidden;
  }
}

@layer components {
  .wrapper {
    @apply flex gap-4;
  }
  #main-navbar {
    @apply absolute top-full left-0 right-0 z-0 md:static bg-light-dark md:bg-transparent translate-y-[-100%] md:translate-y-[0] transition-all duration-200 pointer-events-none md:pointer-events-auto;
  }
  #main-navbar.is-open {
    @apply translate-y-0 pointer-events-auto;
  }
  #main-navbar li {
    @apply cursor-pointer p-4 transition-all duration-200 hover:bg-light-green;
  }

  #about-me,
  #about-me figure {
    position: relative;
  }
  #about-me .rings {
    pointer-events: none;
    position: absolute;
    width: 700px;
    height: 150px;
    left: -70%;
    top: 2%;
    opacity: 70%;
    @apply shadow-none md:top-[-5%] lg:left-[-30%] lg:top-[5%];
  }
  #about-me #ring {
    pointer-events: none;
    position: absolute;
    width: 150px;
    aspect-ratio: 1/1;
    bottom: -25%;
    right: -45%;
    opacity: 50%;
    @apply shadow-none md:right-[-50%] md:bottom-[-10%] z-20 lg:right-[80%] lg:bottom-[10%];
  }
  #about-me figure img:last-of-type {
    @apply object-cover grayscale w-52 h-full md:w-[550px] mx-auto rounded-lg shadow-md shadow-light-gray opacity-80;
  }
  #me-title {
    @apply text-3xl md:text-4xl lg:text-6xl my-4 text-center md:text-start font-bold;
  }
  #me-title span {
    @apply relative;
  }
  #me-title span::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    border-radius: 4px;
    @apply bg-light-green;
  }
  #about-description {
    @apply text-light-gray text-center md:text-start text-lg md:text-xl lg:pr-64;
  }

  #experience {
    @apply lg:border-none;
  }

  #experience figure img {
    width: 50px;
  }

  .button {
    @apply relative border-b-2 border-light-green p-2 uppercase font-bold tracking-widest rounded-t-lg;
  }
  .button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    @apply bg-light-green -z-10 transition-all duration-300 rounded-t-md;
  }
  .button:hover::after {
    width: 100%;
  }

  #experience .rings {
    pointer-events: none;
    position: absolute;
    width: 700px;
    height: 150px;
    bottom: -9%;
    right: -70%;
    opacity: 70%;
    @apply shadow-none md:bottom-[-15%] lg:right-[-30%];
  }
  form .rings {
    pointer-events: none;
    position: absolute;
    width: 700px;
    height: 100px;
    bottom: -9%;
    right: 60%;
    opacity: 70%;
    @apply shadow-none md:right-[80%] lg:right-[150%];
  }
  .hide-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; /* Adjust this if you want a specific width */
  }
}
